@model ViceIO.Web.ViewModels.Pictures.GetPictureDetailsViewModel

<h1 class="text-center">Details for: @Model.Name</h1>

<div class="bs-example d-flex justify-content-center">
    <div class="card" style="width: 500px;">
        <img src="/Pictures/Pictures/@Model.Id.@Model.Extension" class="card-img-top" width="500" height="600">
        <div class="card-body text-center">
            <p class="card-text">@Model.Name</p>
            <hr />
            <p class="card-text">Category: @Model.CategoryName</p>
            <hr />
            <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.AddedByUserId" class="card-link">@Model.AddedByUserEmail</a>
            <p class="card-text">Created On: @Model.CreatedOnAsString</p>
        </div>
    </div>
</div>