@using System.Security.Claims
@model ViceIO.Web.ViewModels.Vices.VicesListViewModel

@{
    this.ViewData["Name"] = "All Vices";
}

<h1>All Vices...</h1>

@foreach (var vice in this.Model.Vices)
{
    <hr />
    <div class="card">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Category: @vice.CategoryName</h6>
            <p class="card-text">@vice.Content</p>
            <p class="card-text">@vice.CreatedOnAsString</p>
            <a asp-controller="Users" asp-action="Profile" asp-route-id="@vice.AddedByUserId" class="card-link">@vice.AddedByUserEmail</a>
        </div>
    </div>
}