@page

@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row justify-content-center">
    <div class="col-lg-5">
        <section>
            <div class="card shadow border-0">
                <div class="card-header" style="background: white">
                    <div class="text-muted text-center mb-3">Sign in with</div>
                    <div class="btn-wrapper text-center">
                        <section>
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) != 0)
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <p>
                                            <button type="submit" class="btn btn-light" name="provider" value="@Model.ExternalLogins[0].Name" title="Log in using your @Model.ExternalLogins[0].DisplayName account"><img src="/img/icons/common/facebook-new.png" /> @Model.ExternalLogins[0].DisplayName</button>
                                            <button type="submit" class="btn btn-light" name="provider" value="@Model.ExternalLogins[1].Name" title="Log in using your @Model.ExternalLogins[1].DisplayName account"><img src="/img/icons/common/google.svg" /> @Model.ExternalLogins[1].DisplayName</button>
                                        </p>
                                    </form>
                                }
                            }
                        </section>
                    </div>
                </div>
                <div class="card-body" style="background: white">
                    <div class="text-center text-muted">
                        Or sign in with your credentials
                    </div>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group focused">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <label asp-for="Input.Email" class="input-group-text">
                                        <i class="fas fa-envelope"></i>
                                    </label>
                                </div>
                                <input asp-for="Input.Email" placeholder="Email" class="form-control" />
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group focused">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <label asp-for="Input.Password" class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </label>
                                </div>
                                <input asp-for="Input.Password" placeholder="Password" class="form-control" />
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <div class="form-check">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-sm">Sign in</button>
                        </div>
                    </form>
                    <hr />
                    <div class="text-center">
                            <input type="button" class="btn btn-secondary btn-sm" value="Create new account" onclick="location.href='@Url.RouteUrl(this.Model.ReturnUrl) @Url.Page("./Register")'" />
                        <input type="button" class="btn btn-secondary btn-sm" value="Forgot password?" onclick="location.href='@Url.Page("./ForgotPassword")'"/>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
